<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Github Profile</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/nav.css" />
    <link rel="stylesheet" href="../css/about.css" />
    <link rel="stylesheet" href="../css/index.css">
  </head>
  <body>
    <section class="nav-section">
      <nav class="navigation">
        <a href="../index.html">Home</a>
        <a href="#">About</a>
      </nav>
    </section>
    <section class="content-section">
        <h2>
            About Github
        </h2>
        
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit facere a quidem voluptates praesentium temporibus esse quaerat obcaecati eum exercitationem? Delectus unde animi amet possimus beatae quae, mollitia expedita ipsum, facilis a necessitatibus molestiae magni blanditiis explicabo neque accusamus? Sapiente atque quae quidem voluptate expedita explicabo eveniet nobis iure incidunt?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt qui nesciunt, temporibus adipisci ipsa esse quae harum earum corrupti repellendus exercitationem? Alias modi reiciendis iste ipsum minima esse, deserunt molestias officiis facilis dolore? Deserunt consequatur reiciendis eveniet deleniti, dolor illo sunt culpa enim cupiditate in accusamus iusto ea, sapiente repellendus magni nostrum sint. Natus, a assumenda aut dolores provident qui excepturi aspernatur, eaque, atque nisi cupiditate soluta! Sit architecto consequatur commodi magnam sunt dolorum, deleniti, nemo saepe molestias natus nobis.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat deserunt exercitationem distinctio ex fuga harum eius. Eum ratione autem ducimus!</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat recusandae quam repellat doloribus quis optio, repudiandae, esse architecto tempora facere dolores ut a quia molestias, doloremque mollitia exercitationem. Modi, earum.</p>
    </section>
    </body>